.main {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px;
}

.title{
  font-size: 42px;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-weight: normal;
  user-select: none;
}

.main-box{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.buttons-row{
  border-bottom: 1.5px solid #EEEEEE;
  width: 100%;
}

.button{
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s ease;
  margin: 0px 3px 5px;
  user-select: none;
}

.copy-button{
  align-self: flex-end;
}

.button:hover{
  background-color: #EEEEEE;
}

.button:active{
  /* background-color: #5100e7; */
  background-color: #3d3d3d; 
  color: #FFFFFF;
}

.text-area {
  width: 600px;
  height: 400px;
  resize: none;
  outline: none;
  border: none;
  padding: 20px 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 12px;
}

::selection{
  color: #FFFFFF;
  background: #3d3d3d;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
  background: #222222;
}