
::selection{
  color: #FFFFFF;
  background: #3d3d3d;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
  background: #222222;
}